@import "./variables";
@import "./game";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	user-select: none;
	-webkit-user-drag: none;

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
	width: 100vw;
	height: 100vh;

	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	// background-color: $background-light;
	background: linear-gradient(45deg, lightcoral, coral);
}

.message {
	position: absolute;
	bottom: 0;
	left: 0;

	color: white;
	font-weight: bolder;

	z-index: 1000;
	padding: 0.5rem;
}

.modal {
	width: 100vw;
	height: 100vh;

	background: #521e1e8a;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;

	font-weight: bolder;

	.modalPopout {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		width: 70vw;
		height: 70vh;

		max-width: 550px;
		min-width: 400px;

		background: white;
		border-radius: $radius;

		padding: 2rem;

		.marquee {
			display: flex;
			flex-direction: column;
			align-items: center;

			border: 0.5rem solid #6e2c2c;
			background: black;

			margin-top: 1rem;

			border-radius: $radius;

			padding: 0.25rem;

			.light {
				width: 1rem;
				height: 1rem;
				background-color: #1a1a1a;

				border: 1px solid black;

				border-radius: 50%;

				animation: pulse 0.5s infinite;
				animation-timing-function: steps(1, end);

				@keyframes pulse {
					0% {
						background-color: #faca08;
					}

					50% {
						background-color: #1a1a1a;
					}

					100% {
						background-color: #faca08;
					}
				}
			}

			.lightSection {
				display: flex;
				align-items: center;
				justify-content: space-between;

				width: 100%;

				@for $i from 1 through 10 {
					.light:nth-child(2n) {
						animation-delay: 0.25s;
					}
				}
			}

			.inner {
				display: flex;
				align-items: center;
				justify-content: space-evenly;

				.verticalLightSection {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-evenly;
					height: 100%;

					&:nth-child(1) {
						@for $i from 1 through 3 {
							.light:nth-child(2n + 1) {
								animation-delay: 0.25s;
							}
						}
					}

					&:nth-child(3) {
						@for $i from 1 through 3 {
							.light:nth-child(2n) {
								animation-delay: 0.25s;
							}
						}
					}
				}

				.title {
					margin: 0.25rem;
					border: 0.5rem solid #6e2c2c;
					padding: 1rem;

					border-radius: $radius;

					text-transform: uppercase;

					color: white;

					display: flex;
					align-items: center;
					justify-content: space-between;

					@for $i from 1 through 7 {
						p:nth-child(#{$i}) {
							animation-delay: ($i + 0s) / 2;
						}
					}

					p {
						text-align: center;
						display: inline-block;

						font-size: 2rem;
						margin: 0.5rem;

						animation: hop 1s linear infinite;

						@keyframes hop {
							0% {
								transform: translateY(0px);
							}

							50% {
								transform: translateY(-10px);
							}

							55% {
								transform: translateY(-10px) rotateY(180deg);
							}

							80% {
								transform: translateY(0px);
							}

							95% {
								transform: translateY(2px);
							}

							100% {
								transform: translateY(0px);
							}
						}
					}
				}
			}
		}

		.buttons {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;

			.btn {
				padding: 1rem 2rem;
				font-size: 1rem;

				outline: none;
				border: none;

				border-radius: $radius;
				background-color: white;

				font-weight: 500;

				transition: $transition;
				transition-timing-function: ease-in-out;

				border: 2px dotted #dfdfdfbe;

				&:hover {
					border: 2px solid coral;
					transform: translate(-5px, -5px);
					box-shadow: 5px 5px 0px lightcoral;
				}

				&:active {
					border: 2px solid white;

					transform: translate(0px);
					box-shadow: none;
				}
			}
		}

		.info {
			font-weight: normal;
			justify-self: flex-end;
		}
	}
}
