.closeImageText {
  position: absolute;
  top: 100%;
  color: black;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.25s;
  padding: 1rem;
  transform: translate(-50% -50%);
  pointer-events: none;
  background: white;
  border-radius: 1rem;
  vertical-align: top;
  text-align: center;
}
.closeImageText.visible {
  top: 50%;
}

.displayImg {
  position: absolute;
  top: calc(100% + 50vh);
  left: 50%;
  height: 40%;
  max-height: 25rem;
  padding: 1rem;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px black;
  transition: all 0.25s;
}
.displayImg.visible {
  top: 50%;
}

.wheelSpace .wheel {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  right: -15vh;
  transform: translateY(-50%);
  box-shadow: 0px 0px 15px black;
}
.wheelSpace .wheel .pin {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.wheelSpace .wheel .fadingText {
  position: absolute;
  top: -30%;
  right: 7rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 15px black;
  padding: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.wheelSpace .wheel .fadingText.gone {
  opacity: 0;
}
.wheelSpace .wheel .fadingText.fading {
  -webkit-animation: fade 1s linear;
          animation: fade 1s linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@-webkit-keyframes fade {
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
@keyframes fade {
  99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
.wheelSpace .wheel p:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(82.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(97.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(112.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(127.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(5) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(142.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(6) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(157.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(7) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(172.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(8) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(187.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(9) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(202.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(10) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(217.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(11) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(232.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(12) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(247.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(13) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(262.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(14) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(277.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(15) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(292.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(16) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(307.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(17) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(322.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(18) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(337.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(19) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(352.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(20) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(367.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(21) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(382.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(22) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(397.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(23) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(412.5deg) translateY(13vh);
}
.wheelSpace .wheel p:nth-child(24) {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bolder;
  transform: translate(-50%, -50%) rotate(427.5deg) translateY(13vh);
}
.wheelSpace .wheel.hidden {
  right: -50vh;
}
.wheelSpace .wheel.spinning {
  -webkit-animation: spin 1s linear;
          animation: spin 1s linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
@-webkit-keyframes spin {
  0% {
    transform: translateY(-50%) rotate(67.5deg);
  }
  100% {
    transform: translateY(-50%) rotate(427.5deg);
  }
}
@keyframes spin {
  0% {
    transform: translateY(-50%) rotate(67.5deg);
  }
  100% {
    transform: translateY(-50%) rotate(427.5deg);
  }
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45%;
  height: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 15px black;
  background: white;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.game .tile {
  width: 60%;
  border-radius: 0.2rem;
  background-size: cover;
  -webkit-user-drag: none;
  transition: all 0.25s;
}
.game .tile.active {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0px lightcoral;
}
.game .tile.selected {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0px #a15454;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, lightcoral, coral);
}

.message {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  font-weight: bolder;
  z-index: 1000;
  padding: 0.5rem;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: #521e1e8a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-weight: bolder;
}
.modal .modalPopout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  height: 70vh;
  max-width: 550px;
  min-width: 400px;
  background: white;
  border-radius: 1rem;
  padding: 2rem;
}
.modal .modalPopout .marquee {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.5rem solid #6e2c2c;
  background: black;
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 0.25rem;
}
.modal .modalPopout .marquee .light {
  width: 1rem;
  height: 1rem;
  background-color: #1a1a1a;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-animation: pulse 0.5s infinite;
          animation: pulse 0.5s infinite;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}
@-webkit-keyframes pulse {
  0% {
    background-color: #faca08;
  }
  50% {
    background-color: #1a1a1a;
  }
  100% {
    background-color: #faca08;
  }
}
@keyframes pulse {
  0% {
    background-color: #faca08;
  }
  50% {
    background-color: #1a1a1a;
  }
  100% {
    background-color: #faca08;
  }
}
.modal .modalPopout .marquee .lightSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.modal .modalPopout .marquee .lightSection .light:nth-child(2n) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .lightSection .light:nth-child(2n) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .lightSection .light:nth-child(2n) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .lightSection .light:nth-child(2n) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .lightSection .light:nth-child(2n) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .lightSection .light:nth-child(2n) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .lightSection .light:nth-child(2n) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .lightSection .light:nth-child(2n) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .lightSection .light:nth-child(2n) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .lightSection .light:nth-child(2n) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.modal .modalPopout .marquee .inner .verticalLightSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
.modal .modalPopout .marquee .inner .verticalLightSection:nth-child(1) .light:nth-child(2n+1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .inner .verticalLightSection:nth-child(1) .light:nth-child(2n+1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .inner .verticalLightSection:nth-child(1) .light:nth-child(2n+1) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .inner .verticalLightSection:nth-child(3) .light:nth-child(2n) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .inner .verticalLightSection:nth-child(3) .light:nth-child(2n) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .inner .verticalLightSection:nth-child(3) .light:nth-child(2n) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.modal .modalPopout .marquee .inner .title {
  margin: 0.25rem;
  border: 0.5rem solid #6e2c2c;
  padding: 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.modal .modalPopout .marquee .inner .title p:nth-child(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.modal .modalPopout .marquee .inner .title p:nth-child(2) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.modal .modalPopout .marquee .inner .title p:nth-child(3) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.modal .modalPopout .marquee .inner .title p:nth-child(4) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.modal .modalPopout .marquee .inner .title p:nth-child(5) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.modal .modalPopout .marquee .inner .title p:nth-child(6) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.modal .modalPopout .marquee .inner .title p:nth-child(7) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.modal .modalPopout .marquee .inner .title p {
  text-align: center;
  display: inline-block;
  font-size: 2rem;
  margin: 0.5rem;
  -webkit-animation: hop 1s linear infinite;
          animation: hop 1s linear infinite;
}
@-webkit-keyframes hop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  55% {
    transform: translateY(-10px) rotateY(180deg);
  }
  80% {
    transform: translateY(0px);
  }
  95% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes hop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  55% {
    transform: translateY(-10px) rotateY(180deg);
  }
  80% {
    transform: translateY(0px);
  }
  95% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0px);
  }
}
.modal .modalPopout .buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.modal .modalPopout .buttons .btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: white;
  font-weight: 500;
  transition: all 0.25s;
  transition-timing-function: ease-in-out;
  border: 2px dotted #dfdfdfbe;
}
.modal .modalPopout .buttons .btn:hover {
  border: 2px solid coral;
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px 0px lightcoral;
}
.modal .modalPopout .buttons .btn:active {
  border: 2px solid white;
  transform: translate(0px);
  box-shadow: none;
}
.modal .modalPopout .info {
  font-weight: normal;
  justify-self: flex-end;
}/*# sourceMappingURL=style.css.map */